<p id="notice"><%= notice %></p>



<div class="col-md-10 col-xs-12 col-sm-11 center-block">
	<div class="card gray text-dark large-padding">
		
		<h1>Tweets</h1>
		<table class="table table-striped table-hover medium">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Titulo</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			
			<tbody>
				<% @tweets.each do |tweet| %>
				<tr>
					<td><%= tweet.nombre %></td>
					<td><%= tweet.titulo %></td>
					<td><%= link_to 'Show', tweet, class: "btn btn-info" %></td>
					<td><%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-warning" %></td>
					<td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<br>
		
		<div>
			<%= link_to 'Nuevo Tweet', new_tweet_path, class: "btn btn-success" %>
		</div>
	</div>
</div>
